name: Release

on: [push]

jobs:
  release:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v4

      - name: Prepare repository
        run: git fetch --unshallow --tags

      - name: Use Node.js from nvm RC
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Update npm to latest
        shell: bash
        run: npm install -g npm@latest

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.yarn/berry/cache
          key: yarn-v1-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-v1-${{ hashFiles('yarn.lock') }}
            yarn-v1

      - name: Install dependencies
        shell: bash
        run: yarn install

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          yarn release
